/%include('../_html_str.html')%/
/%include('../_page_str.html')%/
/%include('../_header.html')%/
/%include('../_body_str.html')%/
/%include('../_asidemenu.html')%/
/%include('../_rightbody_str.html')%/
/%include('../_subheader.html', {
    "subheader": {
      "title": "Dashboard"
    }
})%/
/%include('../_content.html')%/
/%include('../_rightbody_end.html')%/
/%include('../_body_end.html')%/
/%include('../_footer.html')%/
/%include('../_page_end.html')%/
/%include('../_quicksidebar.html')%/
/%include('../_scrolltop.html')%/
/%include('../_quicknav.html')%/
/%include('../_basescripts.html')%/
/%include('../_pagevendors.html')%/
/%include('../_pagesnippets.html')%/
/%include('../_html_end.html')%/